In [88]:
import pandas as pd
import numpy as np

In [89]:
ages = np.array([13,25,19])
series1 = pd.Series(ages,index=['Emma', 'Swetha', 'Serajh'])
print(series1)

Emma      13
Swetha    25
Serajh    19
dtype: int64

Create DF

In [90]:
df = pd.DataFrame([
    ['John Smith','123 Main St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['Joe Schmo', '789 Broadway',51]
    ],
    columns=['Name', 'Address', 'Age']
)
print(df)

         Name        Address  Age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51

Set Index

In [91]:
df = pd.DataFrame([
    ['John Smith','123 Main St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['Joe Schmo', '789 Broadway',51]
    ],
    columns=['Name','Address', 'Age'],
).set_index('Name')
print(df)

                  Address  Age
Name
John Smith    123 Main St   34
Jane Doe    456 Maple Ave   28
Joe Schmo    789 Broadway   51

New Dataframe

In [92]:
# Create the DataFrame
library = pd.DataFrame([
    ['To Kill a Mockingbird', 'Harper Lee', 'Fiction'],
    ['1984', 'George Orwell', 'Dystopian'],
    ['Moby Dick', 'Herman Melville', 'Adventure'],
    ['Pride and Prejudice', 'Jane Austen', 'Romance'],
    ['The Great Gatsby', 'F. Scott Fitzgerald', 'Fiction'],
    ['Brave New World', 'Aldous Huxley', 'Dystopian']
    ],
    columns=['title', 'author', 'genre'],
    index=['book1', 'book2', 'book3', 'book4', 'book5', 'book6']
)
#above, index was set, to later help distinguish how to select rows with .loc and .iloc
print("Original DataFrame:")
print(library)

Original DataFrame:
                       title               author      genre
book1  To Kill a Mockingbird           Harper Lee    Fiction
book2                   1984        George Orwell  Dystopian
book3              Moby Dick      Herman Melville  Adventure
book4    Pride and Prejudice          Jane Austen    Romance
book5       The Great Gatsby  F. Scott Fitzgerald    Fiction
book6        Brave New World        Aldous Huxley  Dystopian

Selecting One Column

In [93]:
# Select the 'title' column
title_column = library['title']
print("\nTitle Column using bracket notation:")
print(title_column)

Title Column using bracket notation:
book1    To Kill a Mockingbird
book2                     1984
book3                Moby Dick
book4      Pride and Prejudice
book5         The Great Gatsby
book6          Brave New World
Name: title, dtype: object

In [94]:
# Select the 'title' column
title_column = library.title
print("\nTitle Column using dot notation:")
print(title_column)

Title Column using dot notation:
book1    To Kill a Mockingbird
book2                     1984
book3                Moby Dick
book4      Pride and Prejudice
book5         The Great Gatsby
book6          Brave New World
Name: title, dtype: object

Selecting Multiple Columns

In [95]:
# Select the 'title' and 'author' columns
selected_columns = library[['title', 'author']]
print("\nSelected Columns (title and author) using bracket notation with a list:")
print(selected_columns)

Selected Columns (title and author) using bracket notation with a list:
                       title               author
book1  To Kill a Mockingbird           Harper Lee
book2                   1984        George Orwell
book3              Moby Dick      Herman Melville
book4    Pride and Prejudice          Jane Austen
book5       The Great Gatsby  F. Scott Fitzgerald
book6        Brave New World        Aldous Huxley

Selecting One Row

In [96]:
# Select the row with the label 'book3'
row_by_label = library.loc['book3']
print("\nRow with label 'book3' using loc:")
print(row_by_label)

Row with label 'book3' using loc:
title           Moby Dick
author    Herman Melville
genre           Adventure
Name: book3, dtype: object

In [97]:
# Select the row with integer position 2
row_by_position = library.iloc[2]
print("\nRow with integer position 2 using iloc:")
print(row_by_position)

Row with integer position 2 using iloc:
title           Moby Dick
author    Herman Melville
genre           Adventure
Name: book3, dtype: object

Selecting Multiple Rows

In [98]:
# Select rows with labels 'book2', 'book4', and 'book6'
rows_by_label = library.loc[['book2', 'book4', 'book6']]
print("\nRows with labels 'book2', 'book4', and 'book6' using loc:")
print(rows_by_label)

Rows with labels 'book2', 'book4', and 'book6' using loc:
                     title         author      genre
book2                 1984  George Orwell  Dystopian
book4  Pride and Prejudice    Jane Austen    Romance
book6      Brave New World  Aldous Huxley  Dystopian

In [99]:
# Select a range of rows by label
rows_by_label_range = library.loc['book2':'book5']
print("\nRows from 'book2' to 'book5' using loc:")
print(rows_by_label_range)

Rows from 'book2' to 'book5' using loc:
                     title               author      genre
book2                 1984        George Orwell  Dystopian
book3            Moby Dick      Herman Melville  Adventure
book4  Pride and Prejudice          Jane Austen    Romance
book5     The Great Gatsby  F. Scott Fitzgerald    Fiction

In [100]:
# Select the second, fourth, and sixth rows (integer positions 1, 3, and 5)
rows_by_position = library.iloc[[1, 3, 5]]
print("\nRows with integer positions 1, 3, and 5 using iloc:")
print(rows_by_position)

Rows with integer positions 1, 3, and 5 using iloc:
                     title         author      genre
book2                 1984  George Orwell  Dystopian
book4  Pride and Prejudice    Jane Austen    Romance
book6      Brave New World  Aldous Huxley  Dystopian

In [101]:
# Select a range of rows by integer position
rows_by_position_range = library.iloc[1:5]
print("\nRows from integer position 1 to 4 using iloc:")
print(rows_by_position_range)

Rows from integer position 1 to 4 using iloc:
                     title               author      genre
book2                 1984        George Orwell  Dystopian
book3            Moby Dick      Herman Melville  Adventure
book4  Pride and Prejudice          Jane Austen    Romance
book5     The Great Gatsby  F. Scott Fitzgerald    Fiction

Selecting a Row and a Column

In [102]:
# Select the 'author' column for the row with label 'book3'
value_loc = library.loc['book3', 'author']
print("\nAuthor of book3 using loc:")
print(value_loc)

Author of book3 using loc:
Herman Melville

In [103]:
# Select the cell at integer position (2, 1) where 2 is the row index and 1 is the column index
value_iloc = library.iloc[2, 1]
print("\nAuthor of book3 using iloc:")
print(value_iloc)

Author of book3 using iloc:
Herman Melville

Multiple Rows and Multiple Columns

In [104]:
# Select rows 'book2', 'book4', 'book6' and columns 'title' and 'author'
subset_loc = library.loc[['book2', 'book4', 'book6'], ['title', 'author']]
print("\nSubset using loc with labels:")
print(subset_loc)

Subset using loc with labels:
                     title         author
book2                 1984  George Orwell
book4  Pride and Prejudice    Jane Austen
book6      Brave New World  Aldous Huxley

In [105]:
# Select rows with integer positions 1, 3, 5 and columns with integer positions 0, 1
subset_iloc = library.iloc[[1, 3, 5], [0, 1]]
print("\nSubset using iloc with integer positions:")
print(subset_iloc)

Subset using iloc with integer positions:
                     title         author
book2                 1984  George Orwell
book4  Pride and Prejudice    Jane Austen
book6      Brave New World  Aldous Huxley