In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'pandas'

In [ ]:
pip install -r requirements.txt

In [ ]:
pip install -r requirements.txt

# Intro Details

## Head

In [ ]:
df = pd.read_csv('reviews.csv')  # Load the data
df.head()  # Print the first 5 rows of the data

,clothing_id,age,review_title,review_text,recommended,division_name,department_name,review_date,rating
0,1095,39,"Cute,looks like a dress on",If you are afraid of the jumpsuit trend but li...,True,General,Dresses,2019-07-08,Liked it
1,1095,28,"So cute, great print!",I love fitted top dresses like this but i find...,True,General,Dresses,2019-05-17,Loved it
2,699,37,So flattering!,"I love these cozy, fashionable leggings. they ...",True,Initmates,Intimate,2019-06-24,Loved it
3,1072,36,Effortless,"Another reviewer said it best, ""i love the way...",True,General Petite,Dresses,2019-12-06,Loved it
4,1094,32,You need this!,Rompers are my fav so i'm biased writing this ...,True,General,Dresses,2019-10-04,Loved it

## Info

In [ ]:
df.info()  # Print the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clothing_id      5000 non-null   int64
 1   age              5000 non-null   int64
 2   review_title     4174 non-null   object
 3   review_text      4804 non-null   object
 4   recommended      5000 non-null   bool
 5   division_name    4996 non-null   object
 6   department_name  4996 non-null   object
 7   review_date      5000 non-null   object
 8   rating           5000 non-null   object
dtypes: bool(1), int64(2), object(6)
memory usage: 317.5+ KB

## Describe

In [ ]:
df.describe()

       clothing_id          age
count  5000.000000  5000.000000
mean    918.505000    43.271200
std     206.039971    12.269693
min       1.000000    18.000000
25%     861.000000    34.000000
50%     936.000000    41.000000
75%    1078.000000    52.000000
max    1204.000000    99.000000

## Is Null

In [ ]:
df.isnull().sum()   # Check for missing values

clothing_id          0
age                  0
review_title       826
review_text        196
recommended          0
division_name        4
department_name      4
review_date          0
rating               0
dtype: int64

## Data Types

In [ ]:
df.dtypes  # Check the data types of the columns

clothing_id         int64
age                 int64
review_title       object
review_text        object
recommended          bool
division_name      object
department_name    object
review_date        object
rating             object
dtype: object

## Unique

In [ ]:
df.nunique()  # Check the unique values of the columns

clothing_id         584
age                  69
review_title       3406
review_text        4804
recommended           2
division_name         3
department_name       6
review_date         365
rating                5
dtype: int64

## Value Counts

In [ ]:
df.value_counts()   # Check the frequency of the values in the columns

clothing_id  age  review_title                  review_text                                                                                                                                                                                                                                                                                                                                                                                                                                 recommended  division_name   department_name  review_date  rating
1204         39   Very comfortable/relaxed      These are super soft and relaxed. i have them in navy and lavender. i am 5'6" and 130 lbs. and ordered them in a 28, which fits loosely, but comfortably.                                                                                                                                                                                                                                                                                   True         General Petite  Bottoms          2019-04-26   Liked it     1
1            24   Love but also very annoying   I love this tank, it is so comfortable but it does have its flaws. it rolls up every time i walk or do anything, it becomes very bothersome.                                                                                                                                                                                                                                                                                                False        Initmates       Intimate         2019-09-30   Not great    1
8            33   Great coverage                This bathing suit has everything. i especially love the ruching in the waist and the boy short bottom. finally the coverage my booty needs. i've worn it dozens of times and it still holds its quality and looks brand new. i get a lot of compliments every time i wear it.\r\nthe only drawback is it doesn't dry very quickly. after a dip in the pool or the lake it stays wet for hours even when i'm laying out in the summer heat.  True         Initmates       Intimate         2019-09-08   Loved it     1
             38   Cute suit-didn't work for me  This suit was high quality, and a cute design. however, it is clearly made for a lean body type.                                                                                                                                                                                                                                                                                                                                            False        Initmates       Intimate         2019-03-15   Hated it     1
9            34   Okay leggings                 The velvet isn't as soft or plush as i thought it would be but these are comfy pants. i won't wear them until next winter, which is fine.                                                                                                                                                                                                                                                                                                   True         General         Bottoms          2019-04-05   Liked it     1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
40           36   Natori t back                 It is a very pretty bra. light weight and beautiful lace. however, i have yet to find a t-back that does not make me feel like i am going to spill out. to me it ran small. i now know to get a 34 instead. i am working on losing weight, perhaps that might help with the fit?                                                                                                                                                            True         Initmates       Intimate         2019-07-25   Was okay     1
38           50   Perfect fit                   I love this bralette. i have it in other colors as well and it is always the one i go to when i want comfort.                                                                                                                                                                                                                                                                                                                               True         Initmates       Intimate         2019-08-29   Loved it     1
37           41   Gorgeous!                     This fit perfectly. i am 5'7 , 138 pounds and ordered a small. i was very pleased with the way it draped over my body. i bought the black one.                                                                                                                                                                                                                                                                                              True         Initmates       Intimate         2019-02-19   Loved it     1
35           52   Breathtaking                  I am so happy with this chemise! the pink is the most breathtaking blush and the fabric is super soft. i like that the straps are adjustable, allowing me to make the bodice a perfect fit while adjusting the gown to the perfect length for me. it's definitely my new favorite!                                                                                                                                                          True         Initmates       Intimate         2019-04-07   Loved it     1
27           28   So glad this comes in 32 d!   This bra surprised me by how good it looks on. the placement of the lace and cups creates a flattering silhouette.                                                                                                                                                                                                                                                                                                                          True         Initmates       Intimate         2019-11-22   Loved it     1
Name: count, Length: 4169, dtype: int64

# Recommended Feature

In [ ]:
df.value_counts(df['recommended'])  # Check the frequency of the values in the recommended column

recommended
True     4166
False     834
Name: count, dtype: int64

In [ ]:
#create binary dictionary for recommended column
binary_dict = {True:1, False:0}
df['recommended'] = df['recommended'].map(binary_dict)
df['recommended'].value_counts()

recommended
1    4166
0     834
Name: count, dtype: int64

In [ ]:
df['recommended']

0       1
1       1
2       1
3       1
4       1
       ..
4995    1
4996    0
4997    1
4998    1
4999    1
Name: recommended, Length: 5000, dtype: int64

# Rating Feature

In [ ]:
df['rating'].value_counts()  # Check the frequency of the values in the rating column

rating
Loved it     2798
Liked it     1141
Was okay      564
Not great     304
Hated it      193
Name: count, dtype: int64

In [ ]:
rating_dict = {"Loved it":5 , "Liked it":4, "Was okay":3, "Not great":2, "Hated it":1}
df['rating'] = df['rating'].map(rating_dict)
df['rating'].value_counts()

rating
5    2798
4    1141
3     564
2     304
1     193
Name: count, dtype: int64

# Department Name Feature

In [ ]:
df.department_name.value_counts()  # Check the frequency of the values in the department_name column

department_name
Tops        2196
Dresses     1322
Bottoms      848
Intimate     378
Jackets      224
Trend         28
Name: count, dtype: int64

In [ ]:
ohe = pd.get_dummies(df['department_name'])  # One hot encode
df = df.join(ohe)  # Join the one hot encoded columns to the original data frame
df.columns

Index(['clothing_id', 'age', 'review_title', 'review_text', 'recommended',
       'division_name', 'department_name', 'review_date', 'rating', 'Bottoms',
       'Dresses', 'Intimate', 'Jackets', 'Tops', 'Trend'],
      dtype='object')

# Review Date Feature

In [ ]:
df['review_date'] = pd.to_datetime(df['review_date'])  # Convert the review_date column to datetime
print(df['review_date'].dtypes)

datetime64[ns]

# New Numbers Only DF

In [ ]:
reviews = df[['clothing_id', 'age', 'recommended', 'rating', 'Bottoms', 'Dresses', 'Intimate', 'Jackets', 'Tops', 'Trend']].copy()
reviews

,clothing_id,age,recommended,rating,Bottoms,Dresses,Intimate,Jackets,Tops,Trend
0,1095,39,1,4,False,True,False,False,False,False
1,1095,28,1,5,False,True,False,False,False,False
2,699,37,1,5,False,False,True,False,False,False
3,1072,36,1,5,False,True,False,False,False,False
4,1094,32,1,5,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
4995,918,38,1,5,False,False,False,False,True,False
4996,950,33,0,1,False,False,False,False,True,False
4997,1086,36,1,5,False,True,False,False,False,False
4998,1033,28,1,5,True,False,False,False,False,False
4999,850,64,1,5,False,False,False,False,True,False

In [ ]:
reviews = reviews.set_index('clothing_id')
reviews

,age,recommended,rating,Bottoms,Dresses,Intimate,Jackets,Tops,Trend
clothing_id,,,,,,,,,
1095,39,1,4,False,True,False,False,False,False
1095,28,1,5,False,True,False,False,False,False
699,37,1,5,False,False,True,False,False,False
1072,36,1,5,False,True,False,False,False,False
1094,32,1,5,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
918,38,1,5,False,False,False,False,True,False
950,33,0,1,False,False,False,False,True,False
1086,36,1,5,False,True,False,False,False,False
1033,28,1,5,True,False,False,False,False,False
850,64,1,5,False,False,False,False,True,False

In [ ]:
scaler = StandardScaler()  # Create a StandardScaler object 
reviews_fit = scaler.fit_transform(reviews)  # Fit the data to the scaler
reviews_fit

array([[-0.34814459,  0.44742824, -0.1896478 , ..., -0.21656679,
        -0.88496718, -0.07504356],
       [-1.24475223,  0.44742824,  0.71602461, ..., -0.21656679,
        -0.88496718, -0.07504356],
       [-0.51116416,  0.44742824,  0.71602461, ..., -0.21656679,
        -0.88496718, -0.07504356],
       ...,
       [-0.59267395,  0.44742824,  0.71602461, ..., -0.21656679,
        -0.88496718, -0.07504356],
       [-1.24475223,  0.44742824,  0.71602461, ..., -0.21656679,
        -0.88496718, -0.07504356],
       [ 1.68960003,  0.44742824,  0.71602461, ..., -0.21656679,
         1.12998541, -0.07504356]])

: